@model List<ToRead.MVC.Models.LocationModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All yor books are here</h1>
<hr />
<table>
    <tr>
        <th>Place</th>
        <th>Shelf</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="Update" asp-route-id="@item.Id">@item.Place</a></td>
            <td>@item.Shelf</td>
            <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
        </tr>
    }
</table>
